/* commun styles */
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  text-decoration-line: none;
  font-family: 'Special Elite', cursive;
}
html{
  font-size: 62.5%;
}
body{
  background-color: #ccc;
  padding-right: 3rem;
}
.center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-h{
  font-size: 8rem;
  color: white;
  top: 3rem;
  position: absolute;
  text-shadow: 1rem 1rem 1rem black;
}
.wrapper{
  width: 100%;
  perspective: 50rem;
}
section{
  position: relative;
  left: 0;
  margin-bottom: 2rem;
  width: 100%;
  height: 100vh;
  background-color: #eee;
  transform-origin: left;
  box-shadow: .5rem .5rem 1rem rgb(100, 100, 100);
  transition: all .3s;
}
section.change{
  transform: rotateY(10deg);
  left: 16vw;
  transition: all .3s;
}
/* end of commun styles */

.menu{
  width: 4rem;
  height: 4rem;
  left: 1rem;
  top: 1rem;
  position: fixed;
  z-index: 11;
  transition: all .3s;
  flex-direction: column;
}
.menu.change{
  left: 17vw;
  transform: rotate(405deg);
  transition:left .3s ,transform 1s ;
}
.menu-line{
  width: 100%;
  height: .2rem;
  background-color: white;
  margin: .3rem 0;
  box-shadow: .1rem .1rem .3rem rgb(94, 94, 94), -.1rem -.1rem .3rem rgb(94, 94, 94);
}
.menu-line1{
  transform: rotate(0deg) translateX(0);
  transition: all .3s;
}
.menu-line1.change{
  transform: rotate(-90deg) translateX(-.4rem);
  transition: all .3s;
}
.menu-line2{
  transform: translateY(-.3rem);
  transition: all .3s;
}

.navbar{
  width: 15vw;
  height: 100vh;
  position: fixed;
  left: -17vw;
  top: 0;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  padding: 2rem 0 0 2rem;
  z-index: 11;
  transition: all .3s;
}
.navbar a{
  font-size: 2rem;
  margin: 2rem 0;
}
.navbar.change{
  left: 0;
  transition: left .3s;
}

/* section1  */
.section1{
  flex-direction: column;
  background: url(/images/bg-section1.jpg) center no-repeat;
}
.section1 img{
  width: 70%;
}

.section1 .section-h{
  text-transform: uppercase;
}
/*end section1  */

/* section2  */
.section2{
  flex-direction: column;
  position: relative;
}
.section2 .section-h{
  text-shadow: .2rem .2rem 1rem black;
}
.car{
  box-shadow: 1rem 1em 1rem rgb(74, 74, 74),-.1rem -.1em 1rem rgb(74, 74, 74);
  padding: 1rem 1rem ;
  position: relative;
  opacity: .7;
  transition: opacity .3s;
  margin:3rem;
  flex-direction: column;
  width: 40rem;
}
.car:hover{
  opacity: 1;
  transition: opacity .3s;
}
.car-h{
  position: absolute;
  top: 2rem;
  left: 2rem;
  color: white;
  text-transform: uppercase;
  letter-spacing: .2rem;
}
.cars-wrapper{
  width: 100%;
  position: absolute;
}
.car img{
  width: 40rem;
}
.car-price{
  font-size: 2rem ;
  margin: .5rem 0;
}
.car-btn{
  width: 100%;
  padding: .8rem 0;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all .3s;
}
.car-btn:hover{
  letter-spacing: .3rem;
  transition: all .3s;
}
/*end section2  */

/* section3*/
.video-wrapper{
  width: 90%;
  flex-wrap: wrap;
  justify-content: space-around;
  bottom: 7rem;
  position: absolute;
}
.video{
  width: 30rem;
  margin-bottom: 2rem;
  box-shadow: .5rem .5rem .5rem rgb(24, 24, 24);
  opacity: .7;
}
.video:hover{
  opacity: 1;
  transition: opacity .3s;
}
.section3{
  background-color: rgb(60, 60, 60);
}
/*end section3 */

/* section4  */
.shelves{
  width: 80%;
  height: 60%;
  flex-direction: column;
  justify-content: space-between;
  bottom: 5rem;
  perspective: 50rem;
  position: absolute;
}
.shelf{
  width: 80vw;
  height: 3rem;
  background-color: rgb(0, 157, 255,.8);
  perspective: 50rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.shelf:nth-child(1){
  top: 40%;
}
.shelf::before{
  content: "";
  width: 100%;
  height: 10rem;
  background-color: rgb(0, 157, 255);
  position: absolute;
  top: -10rem;
  transform-origin: bottom;
  transform: rotateX(35deg);
}
.shelf img{
  width: 20rem;
  z-index: 11;
  object-fit: cover;
  bottom: 5rem;
  margin-bottom: 19rem;
  box-shadow: .1rem .1rem 1rem black;
  transform: rotateX(5deg);
  opacity: .8;
  transition: all .3s;
}
.shelf img:hover{
  scale: 1.3;
  opacity: 1;
  transition: all .3s;
  z-index: 111;
}
/*end section4  */


/* section5  */
.section5{
  background:linear-gradient(rgb(0, 0, 0,.4),rgb(0, 0, 0,.9)), url(/images/bg-section5.jpg) center no-repeat;
  flex-direction: column;
  position: relative;
}
.contact{
  display: flex;
  flex-direction: column;
  width: 30%;
  border: 1rem solid beige;
  padding: 3rem 5rem;
  background-color: rgba(62, 62, 62, 0.3);
}
input,textarea{
  margin: 1rem 0;
  color: #ccc;
  background: transparent;
  border: .1rem white solid;
  font-size: 1.6rem;
}
input{
  height: 3.5rem;
  padding: .3rem 1rem;
}
textarea{
  max-height: 8rem;
  min-height: 3rem;
  max-width: 100%;
  min-width: 40%;
  padding: 1rem;
}
.submit-btn{
  background-color: #ccc;
  color: black;
  transition: all .3s;
}
.submit-btn:hover{
  cursor: pointer;
  letter-spacing: .2rem;
  transform: scale(1.06);
  transition: all .3s;
}
.copyrights{
  font-size: 2rem;
  bottom: 4rem;
  position: absolute;
  color: white;
}
/*end section5  */


/* responsive */
@media(max-width :1460px){
  .cars-wrapper{
    flex-wrap: wrap;
  }
  .section2{
    height: 150vh;
  }
}
@media(max-width :1060px){
  html{
    font-size: 55%;
  }
  .video-wrapper{
    flex-wrap: wrap;
  }
  .menu{
    width: 6rem;
    left: 2rem;
  }
  .menu.change{
    left: 20vw;
  }
  .menu-line{
    height: .5rem;
  }
}
@media(max-width :900px){
  .section2{
    height: 170vh;
  }
}
@media(max-width :730px){
  .shelf img{
    width: 30%;
  }
  .contact{
    width: 50%;
  }
}
@media(max-width :600px){
  html{
    font-size: 45%;
  }
  .section-h{
    top: 15rem;
  }
}
@media(max-width : 500px){
  .section3{
    height: 150vh;
  }
}
@media(max-width : 450px){
  html{
    font-size: 40%;
  }
  .section4{
    height: 100vh;
  }
}
@media(max-width : 400px){
  html{
    font-size: 35%;
  }
}
@media(max-width : 350px){
  html{
    font-size: 30%;
  }
}
/* end of responsive */
